modules = ["nodejs-20", "python-3.12", "web", "python-base-3.13", "python-base-3.12"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python manage.py runserver 0.0.0.0:5000"]
build = ["sh", "-c", "cd frontend && npm run build"]

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Django Backend"
author = 41591557
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:8000"

[[workflows.workflow]]
name = "Full Stack"
author = 41591557
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:8000"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 41591557
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:8000"

[[ports]]
localPort = 3000
externalPort = 80
